.musicControl {
    background: var(--secondary-background-color);
    border-radius: 10px;
    bottom: 0;
    padding: 0 1rem;
    position: fixed;
    transition: all .25s;
    text-align: center;
    width: 100%;
    z-index: 999;
}

.musicControl button {
    background: none;
    border: none;
    color: var(--primary-font-color);
}

.musicControl .info {
    overflow-x: auto;
}

.musicControl .info * {
    display: block;
    white-space: nowrap;
    width: 100%;
}

.musicControl .info span {
    font-size: 14px;
}

.musicControl .info span {
    opacity: .5;
    font-size: 15px;
}

.musicControl .control {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0;
    margin: auto;
    width: 70%;
}

.musicControl .control *:nth-child(even) {
    background: var(--primary-font-color);
    border-radius: 50%;
    color: var(--secondary-background-color);
    display: inline-flex;
    height: .75em;
    padding: .25em;
    width: .75em;
}

.musicControl .time {
    margin: auto;
    width: 70%;
}

.musicControl .time input {
    width: 100%;
}

.musicControl .time div {
    display: flex;
    justify-content: space-between;
    padding: .5em 0 1.5em 0;
    width: 100%;
}