* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}

button svg {
    pointer-events: none;
}

table {
    border-spacing: 0;
}

.modalBackdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5em;
}

.title button {
    background: none;
    border: none;
    color: var(--primary-font-color);
}