.title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5em;
}

ul {
    margin: auto;
    overflow-y: scroll;
    width: 90%;
}

ul li {
    align-items: center;
    display: flex;
    margin: .5em 0;
    overflow: hidden;
    padding: .75em .5em;
}

ul li * {
    float: left;
}

ul li div:nth-child(odd) {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 10%;
}

ul li .info {
    margin: 0 2.5%;
    overflow-x: auto;
    width: 75%;
}

ul li .info * {
    display: block;
    white-space: nowrap;
    width: 100%;
}

ul li .info h3 {
    font-size: 16px;
}

ul li .info span {
    font-size: 13px;
}