.layout article:has(h2) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.5em;
}

.layout article ul {
    position: absolute;
    height: 72.5%;
    overflow-y: scroll;
    width: 100%;
}

.layout article:has(ul) span {
    font-size: 1em;
    font-weight: 200;
}

.itemList {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
}

.itemList * {
    float: left;
}

.itemList .info {
    overflow-x: auto;
    width: 72%;
}

.itemList .info * {
    display: block;
    white-space: nowrap;
    width: 100%;
}

.itemList>*:nth-child(odd) {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 2%;
    width: 10%;
}

.itemList .icon {
    background: var(--secondary-background-color);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: .5em;
}