.layout article:has(h2) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.5em;
}

.layout article ul {
    position: absolute;
    height: 72.5%;
    overflow-y: scroll;
    width: 100%;
}

.layout article:has(ul) span {
    font-size: 1em;
    font-weight: 200;
}

.itemList {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.itemList .played {
    color: green;
}

.itemList .info {
    justify-content: center;
    align-items: center;
    display: flex;
}

.itemList .info .icon {
    border-radius: 5px;
    padding: 0.5em;
    margin: 0 0.5em 0 0;
}