.title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5em;
}

.playing h3 {
    color: rgba(0, 200, 0, 1);
    transition: all .5s;
}

ul {
    margin: auto;
    overflow-y: scroll;
    width: 90%;
}

ul li {
    align-items: center;
    display: flex;
    margin: .5em 0;
    overflow: hidden;
    padding: .75em .5em;
    transform: scale(1) translateY(0);
    transition: transform 0.15s ease-in-out;
}

ul li:active {
    transform: scale(0.97) translateY(1px);
}

ul li * {
    float: left;
}

ul li div:nth-child(odd) {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 10%;
}

ul li .info {
    margin: 0 2.5%;
    overflow-x: auto;
    width: 75%;
}

ul li .info * {
    display: block;
    white-space: nowrap;
    width: 100%;
}

ul li .info h3 {
    font-size: 16px;
}

ul li .info span {
    font-size: 13px;
    opacity: .5;
}