.layout {
    background-color: var(--primary-background-color);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: .5em;
}

.layout h4 {
    font-weight: 300;
    padding: .75em 0;
    text-align: center;
}

.layout label {
    text-align: center;
    width: 100%;
}

.layout label p {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    margin: auto;
    padding: 0.5em;
    width: 90%;
}

.layout input[type='file'] {
    display: none;
}