.title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5em;
}

.title button {
    background: none;
    border: none;
    color: var(--primary-font-color);
}

.playing h3 {
    color: rgba(0, 200, 0, 1);
    transition: all .5s;
}

.musicList {
    margin: auto;
    overflow-y: scroll;
    width: 90%;
}

.musicList li {
    align-items: center;
    display: flex;
    margin: .5em 0;
    overflow: hidden;
    padding: .75em .5em;
    transform: scale(1) translateY(0);
    transition: transform 0.15s ease-in-out;
}

.musicList li:active {
    transform: scale(0.97) translateY(1px);
}

.musicList li * {
    float: left;
}

.musicList li div:nth-child(odd) {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 10%;
}

.musicList li .info {
    margin: 0 2.5%;
    overflow-x: auto;
    width: 75%;
}

.musicList li .info * {
    display: block;
    white-space: nowrap;
    width: 100%;
}

.musicList li .info h3 {
    font-size: 16px;
}

.musicList li .info span {
    font-size: 13px;
    opacity: .5;
}