.playerControl {
    border-top: 1px solid var(--main-border-color);
    box-shadow: 0 -4px 10px -4px rgba(0, 0, 0, 0.5);
}

.playerControl article {
    align-items: center;
    display: flex;
    margin: auto;
    padding: .75em;
    width: 90%;
}

.playerControl article .info {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    opacity: 1;
    overflow-x: auto;
    padding: .25em .75em;
    transform: translateY(0);
    transition: all .25s;
}

.playerControl article .info:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
    opacity: .5;
    transform: translateY(2px);
}

.playerControl article .info * {
    display: block;
    white-space: nowrap;
    width: 100%;
}

.playerControl article .info {
    float: left;
    width: 75%;
    margin-right: 5%;
}

.playerControl article .btn {
    background: var(--main-border-color);
    border-radius: 5px;
    padding: .8em .5em;
    text-align: center;
    width: 20%;
}

/* BARRA DE PROGRESSO */
.progress {
    background: var(--main-border-color);
    border-radius: 5px;
    height: 1px;
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 90%;
}

.actualProgress {
    background: rgba(0, 200, 0, 1);
    height: 100%;
    width: 0%;
    transition: width 0.05s linear;
}